.chat
  .header
    .left-header
      .left-header__title
        グループ
        .left-header__members
          Member：
          .member
            kaito
    .right-header
      .right-header__edit-btn
        Edit
  .messages
    = render @messages
    .message
      .message__upper-info
        .message__upper-info__talker
          = message.user.name
        .message__upper-info__date
          = message.created_at.strftime("%Y/%m/%d %H:%M")
      .lower-message
        - if message.content.present?
        %p.lower-message__content
          = message.content
        = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', plaseholder: 'type a message'
        .form__sss
          = f.label :image, class: 'form__image' do
            = icon 'far','image', class: 'icon'
            = f.file_field :image, class: 'form__file'
        = f.submit 'Send', class: 'form__submit'
